.contact_list {
  background: #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

.contact_adder {
  background: #aaa;
  border-radius: 15px;
  padding: 1rem;
  margin: 5px;
}

.contact_addder {
  background: #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}
